@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000;
}
.clock {
  font-family: "Days One", sans-serif;
  font-size: 120px;
  font-weight: bold;
  color: rgb(240, 123, 13);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
